button.closeBtnClass.appearance-ghost.size-medium.status-danger.shape-rectangle.icon-start.icon-end.nb-transition {
    position: absolute;
    right: 6px;
    top: 6px;
}
nb-card-header.cardHeaderClass {
    position: relative;
}