
<!------------------ View Last Three Order start------------------->
<!-- <div id="viewThreeOrder">
    <nb-card>

        <nb-card-header style="font-size: 18px; letter-spacing: 0.8px;">
            <nb-icon icon="list-outline" class="mr-1"></nb-icon>View Last 3 Orders
        </nb-card-header>

        <nb-card-body class="mb-4">
            <table class="table" style="margin: 20px 0 0;">
                <thead>
                <tr class="text-center">
                    <th scope="col">Sr No.</th>
                    <th scope="col">Order No.</th>
                    <th scope="col">Order date</th>
                    <th scope="col">Action</th>           
                </tr>
                </thead>
                <tbody>
                <tr class="text-center">
                    <td>1</td>
                    <td>01235</td>
                    <td>20/08/2020</td>
                    <td>
                        <button data-tooltip="View recorder" nbButton status="info" size="tiny-small" class="pt-1 pb-1">
                            <nb-icon icon="eye-outline"></nb-icon>
                        </button>
                    </td>
                </tr>
                <tr class="text-center">
                    <td>2</td>
                    <td>01235</td>
                    <td>20/08/2020</td>
                    <td>
                        <button data-tooltip="View recorder" nbButton status="info" size="tiny-small" class="pt-1 pb-1">
                            <nb-icon icon="eye-outline"></nb-icon>
                        </button>                      
                    </td>
                </tr>
                <tr class="text-center">
                    <td>2</td>
                    <td>01235</td>
                    <td>20/08/2020</td>
                    <td>
                        <button data-tooltip="View recorder" nbButton status="info" size="tiny-small" class="pt-1 pb-1">
                            <nb-icon icon="eye-outline"></nb-icon>
                        </button>                      
                    </td>
                </tr>
                <tr class="text-center">
                    <td>2</td>
                    <td>01235</td>
                    <td>20/08/2020</td>
                    <td>
                        <button data-tooltip="View recorder" nbButton status="info" size="tiny-small" class="pt-1 pb-1">
                            <nb-icon icon="eye-outline"></nb-icon>
                        </button>                      
                    </td>
                </tr>
                </tbody>
                
            </table>
        </nb-card-body>

    </nb-card>
</div> -->

<!------------------ View Last Three Order End------------------->



<!------------------ View Last Three Order start------------------->

<!-- <div id="OrderView">
    <nb-card>

        <nb-card-header style="font-size: 18px; letter-spacing: 0.8px;">
            <nb-icon icon="list-outline" class="mr-1"></nb-icon>Order View
        </nb-card-header>

        <nb-card-body class="mt-4 mb-4">

            <form>

                <div class="form-group row">
                    <label for="inputOrderNo" class="label col-lg-1 col-form-label">Order No</label>
                    <div class="full-name-inputs col-lg-3">
                        <input type="text" nbInput fullWidth id="inputOrderNo" placeholder="Order No"
                            formControlName="OrderNo" name="OrderNo">
                    </div>
                    <label for="inputOrderDate" class="label col-lg-1 col-form-label">Order date</label>
                    <div class="full-name-inputs col-lg-3">
                        <input type="text" nbInput fullWidth id="inputOrderDate" placeholder="Order date"
                            formControlName="OrderDate" name="OrderDate">
                    </div>
                    <label for="inputNHSName" class="label col-lg-1 col-form-label">NHS No</label>
                    <div class="full-name-inputs col-lg-3">
                        <input type="text" nbInput fullWidth id="inputNHSName" placeholder="NHS No"
                            formControlName="NHSName" name="NHSName">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPatientName" class="label col-lg-1 col-form-label">Patient Name</label>
                    <div class="full-name-inputs col-lg-3">
                        <input type="text" nbInput fullWidth id="inputPatientName" placeholder="Patient Name"
                            formControlName="PatientName" name="PatientName">
                    </div>
                    <label for="inputPharmacyName" class="label col-lg-1 col-form-label">Pharmacy Name</label>
                    <div class="full-name-inputs col-lg-3">
                        <input type="text" nbInput fullWidth id="inputPharmacyName" placeholder="Pharmacy Name"
                            formControlName="PharmacyName" name="PharmacyName">
                    </div>
                    <label for="inputCourierAgent" class="label col-lg-1 col-form-label">Courier Agent</label>
                    <div class="full-name-inputs col-lg-3">
                        <input type="text" nbInput fullWidth id="inputCourierAgent" placeholder="Courier Agent"
                            formControlName="CourierAgent" name="CourierAgent">
                    </div>
                </div>

            </form>

            <table class="table mt-5">
                <thead>
                <tr class="text-center">
                    <th scope="col">Sr No.</th>
                    <th scope="col">Medicine Name</th>
                    <th scope="col">Quantity</th>           
                </tr>
                </thead>
                <tbody>
                <tr class="text-center">
                    <td>1</td>
                    <td>Paracetamol 625 mg (28)</td>
                    <td>2</td>
                </tr>
                <tr class="text-center">
                    <td>2</td>
                    <td>Clinamycin 10 mg (28)</td>
                    <td>2</td>
                </tr>
                </tbody>
                
            </table>

            <div class="text-center mt-4">
                <button nbButton status="danger" size="small">
                    <nb-icon icon="close-circle-outline" class="mr-1"></nb-icon>Close
                </button>
            </div>

        </nb-card-body>

    </nb-card>
</div> -->

<!------------------ View Last Three Order End------------------->

<!------------------ View Current Track Order start------------------->

<!-- <div id="trackCurrentOrder">
    <nb-card>

        <nb-card-header style="font-size: 18px; letter-spacing: 0.8px;">
            <nb-icon icon="car-outline" class="mr-1"></nb-icon>Track Current Order
        </nb-card-header>

        <nb-card-body class="mb-4">
            <div class="row">
                <div class="col-md-12 mt-4">

                            <form>
                                <div class="full-name-inputs col-sm-3 m-auto">
                                    <nb-select placeholder="Display Current Orders" class="pos6" style="width: 100% !important;">
                                        <nb-option value="0"><a href="#">Order1</a></nb-option>
                                        <nb-option value="1"><a href="#">Order2</a></nb-option>
                                        <nb-option value="2"><a href="#">Order3</a></nb-option>
                                    </nb-select>

                                </div>

                            </form>
                </div>

            </div>


            <div class="row mt-4">

                <div class="col-sm-5">
                    <div class="col-md-12 mb-4"><h5> Order Timeline</h5></div>
                    <form>
                        <div class="full-name-inputs">
                            <input type="time" nbInput fullWidth id="inputNumber1" placeholder="time" class="form-group">
                            <input type="text" nbInput fullWidth id="inputText1" placeholder="order Details" class="form-group">
                        </div>

                        <div class="full-name-inputs">
                            <input type="time" nbInput fullWidth id="inputNumber2" placeholder="time" class="form-group">
                            <input type="text" nbInput fullWidth id="inputText2" placeholder="order Details" class="form-group">
                        </div>

                        <div class="full-name-inputs">
                            <input type="time" nbInput fullWidth id="inputNumber3" placeholder="time" class="form-group">
                            <input type="text" nbInput fullWidth id="inputText3" placeholder="order Details" class="form-group">
                        </div>

                        <div class="full-name-inputs">
                            <input type="time" nbInput fullWidth id="inputNumber4" placeholder="time" class="form-group">
                            <input type="text" nbInput fullWidth id="inputText4" placeholder="order Details" class="form-group">
                        </div>

                    </form>
                </div>

                <div class="col-sm-7">
                    <div class="col-md-12 mb-4"><h5> Live Tracking</h5></div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.048131824633!2d73.16843201495556!3d22.35181138529683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fc8af5924fd1d%3A0x62a6d2dac53a9021!2sGowrie%20Healthcare%20Pvt%20Ltd%20%26%20Gowrie%20Research%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1614826799130!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                            </iframe>
                </div>
                
            </div>

            <div class="text-center dsg pb-3 pt-4">
                <button type="submit" nbButton status="danger" size="small">
                    <nb-icon icon="close-circle-outline" class="mr-1"></nb-icon>Close
                </button>
            </div>
        </nb-card-body>

    </nb-card>
</div> -->

<!------------------ View Current Track Order End------------------->

<!------------------ View My Order subscription start------------------->

<div id="viewmyOrderSubscription">
    <nb-card>

        <nb-card-header style="font-size: 18px; letter-spacing: 0.8px;">
            <nb-icon icon="bell-outline" class="mr-1"></nb-icon>My Order Subscriptions
        </nb-card-header>

        <nb-card-body class="mb-4">

            <table class="table" style="margin: 20px 0 0;">
                <thead>
                <tr class="text-center">
                    <th scope="col">Sr No.</th>
                    <th scope="col">Subscription No</th>
                    <th scope="col">Subscription Frequency</th>
                    <th scope="col">Custom Subscription Frequency</th>  
                    <th scope="col">Action on Subscription</th>
                    <th scope="col">Subscription Start Date</th>
                    <th scope="col">Subscription Inactivation Date</th>
                    <th scope="col">Subscription Name</th>    
                </tr>
                </thead>
                <tbody>

                <tr class="text-center">
                    <td>1</td>
                    <td>SN002</td>
                    <td>-</td>
                    <td>20 Days</td>
                    <td>

                    </td>
                    <td>02/08/2020</td>
                    <td>-</td>
                    <td>Test2</td>
                </tr>
                
                </tbody>
                
            </table>
           
            <div class="text-center pt-5">
                <button type="submit" nbButton size="medium" status="info" class="mr-3 mb-3"> 
                    <nb-icon icon="plus-circle-outline"></nb-icon>Add New Subscription
                </button>
                <button type="submit" nbButton status="danger" size="medium" class="mb-3">
                    <nb-icon icon="close-circle-outline" class="mr-1"></nb-icon>Close
                </button>
            </div>

        </nb-card-body>

    </nb-card>
</div>

<!------------------ View My Order subscription End------------------->