#transitOrder .badge{
    padding: 0.9rem 2rem;
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}
.width input{
    width:150%;
}
 #map {
    height: 500px;
    width: 100%;
}
.nb-theme-cosmic a{
    text-decoration: none !important;
}